<script lang="ts">
  import wasm from "@anagolay/wf-cid/workflow_compute_cidv1_from_bytes_bg.wasm?url";
  import init, { Workflow } from "@anagolay/wf-cid";
  import { processStore } from "$src/stores";
  import { tauriCid, tauriMainThread, tauriWebWorker } from "./processes";

  //this works

  /**
   * imageInput, src and imageTitle are variables to handle the image input.
   * cidList is an array that contains each generated cid, the process used and the time spent.
   * tableHeaders are the name of table columns.
   */
  let imageInput: HTMLInputElement;
  let src: string;
  let imageTitle: String;

  let cidList: { process: string; time: string; cid: string }[] = [];
  const tableHeaders = ["name", "Elapsed time", "cid"];

  /**
   * When file is selected a url is generated and the file is used to get cids.
   */
  async function readURL() {
    if (!(imageInput.files && imageInput.files[0])) return;
    const file = imageInput.files[0];
    src = URL.createObjectURL(file);
    imageTitle = file.name;
    getCids(file);
  }

  /**
   * This function generates all cids from all processes in the methods array.
   * @param file provides the file is the uploaded image.
   * A FileReader buffers the file into a Uint8Array when it is loaded.
   * Then, for each method, cid is generated and stored with the process name and the duration of the process.
   */
  async function getCids(file: File) {
    const reader = new FileReader();
    reader.readAsArrayBuffer(file);
    reader.onload = async () => {
      var data = new Uint8Array(reader.result as ArrayBuffer);
      await tauriCid(data);
      await tauriMainThread(data);
      await tauriWebWorker(data);
    };
  }
</script>

<div class="hero-content mx-auto flex-col lg:flex-row">
  <h1 class="text-3xl text-center font-bold mb-5">CID generation processes</h1>
</div>
<div class="w-full flex flex-col items-center gap-4">
  <!-- Image selector -->
  <div class="flex flex-col items-center">
    <div
      class="card relative border-2 border-dashed border-secondary hover:bg-primary/20"
    >
      <input
        type="file"
        multiple
        class="cursor-pointer relative opacity-0 w-full z-50"
        class:h-40={!src}
        class:p-2={src}
        on:change={readURL}
        bind:this={imageInput}
      />
      <div
        class="absolute flex flex-col items-center text-center p-2 top-0 right-0 left-0 bottom-0 m-auto"
        class:justify-center={!src}
      >
        <p class="font-bold">CLICK HERE TO {src ? "CHANGE" : "ADD"} FILE</p>
      </div>

      <!-- Image preview -->
      {#if src}
        <div class="card">
          <p class="text-lg font-bold bg-white p-2">{imageTitle}</p>
          <img {src} alt="your file" />
        </div>
      {/if}
    </div>
  </div>

  <!-- cid row -->
  <div class="overflow-x-auto max-w-full my-12 md:2/3">
    <table class="table w-full">
      <thead>
        <tr>
          {#each tableHeaders as header}
            <th>{header.toUpperCase()}</th>
          {/each}
        </tr>
      </thead>
      <tbody>
        {#each $processStore as cid}
          <tr>
            <th>{cid.name}</th>
            <td>{cid.time}</td>
            <td>{cid.cid}</td>
          </tr>
        {/each}
      </tbody>
    </table>
  </div>
</div>
