<script lang="ts">
  import "$src/main.css";
  import WorkflowCidBytes from "$src/lib/WorkflowCidBytes.svelte";
  import NavBar from "$src/components/NavBar.svelte";
</script>

<NavBar />
<main class="container mx-auto bg-base-100 text-base-content px-8 py-4">
  <WorkflowCidBytes />
</main>
